@tailwind base;
@tailwind components;
@tailwind utilities;

.header__link {
    background: linear-gradient(to right, #fff 50%, #202020 50%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    background-position-x: left;
}

.header__link:hover {
    background-position-x: right;
}